<p>You have been learning Ruby  and now you are looking for somewhere to use your skills. You might find the job you have been looking for below.</p>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Jobs</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Kitman Labs</th>
            <th><a href="https://kitman.workable.com/">https://kitman.workable.com/</a></th>
        </tr>
        <tr>
            <th>Intercom</th>
            <th><a href="https://www.intercom.io/careers">https://www.intercom.io/careers</a></th>
        </tr>
        <tr>
            <th>Workday</th>
            <th><a href="http://www.workday.com/company/careers/jobs.php#~/region_location=EMEA_Dublin%2C%20Ireland&team_department=Corporate_IT/~">http://www.workday.com/company/careers/jobs.php#~/region_location=EMEA_Dublin%2C%20Ireland&team_department=Corporate_IT/~</a></th>
        </tr>
    </tbody>
</table>