// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
  margin: auto;
}
.status {
  margin-left: 7%;
  width: 30%;
  float: left;
}
.twitter {
  margin-left: 15%;
  height: 200px;
}